{% extends "base.html" %}
{% block name %} Caustic blast {% endblock %}
{% block actions %} {{two_actions}} {% endblock %}
{% block level %} Cantrip 1 {% endblock %}
{% block traits %} {{ traits(traits="Acid, Cantrip, Concentrate, Manipulate") }} {% endblock %}
{% block properties %}
  {{ property(name="Range", value="30 feet") }}
  {{ property(name="Area", value="5-foot burst") }}
  {{ property(name="Defence", value="basic Reflex") }}
{% endblock %}
{% block description %}
    <div>
    You fling a large glob of acid that immediately detonates,
    spraying nearby creatures. Creatures in the area take 1d8
    acid damage with a basic Reflex save; on a critical failure, the
    creature also takes 1 persistent acid damage.
    </div>
{% endblock %}
{% block heightened %}
    {{ heightened(name="+2", value="The initial damage increases by 1d8, and the
persistent damage on a critical failure increases by 1.") }}
{% endblock %}


