{% extends "base.html" %}
{% block name %} Daze {% endblock %}
{% block actions %} {{two_actions}} {% endblock %}
{% block level %} Cantrip 1 {% endblock %}
{% block traits %} {{ traits(traits="Cantrip, Concentrate, Manipulate, Mental, Nonlethal") }} {% endblock %}
{% block properties %}
  {{ property(name="Range", value="60 feet") }}
  {{ property(name="Target", value="1 creature") }}
  {{ property(name="Defence", value="Will") }}
{% endblock %}
{% block description %}
    <div>
    You push into the target’s mind and daze it with a mental jolt.
    The jolt deals 1d6 mental damage, with a basic Will save. If the
    target critically fails the save, it is also stunned 1.
    </div>
{% endblock %}
{% block heightened %}
    <div class="heightened">
		<span class="caption">Heightened (+2)</span>
		<span>The damage increases by 1d6.</span>
    </div>
{% endblock %}


