{% extends "base.html" %}
{% block name %} Detect Magic {% endblock %}
{% block actions %} {{two_actions}} {% endblock %}
{% block level %} Cantrip 1 {% endblock %}
{% block traits %} {{ traits(traits="Cantrip, Concentrate, Detection, Manipulate") }} {% endblock %}
{% block properties %}
  {{ property(name="Area", value="30-foot emanation") }}
{% endblock %}
{% block description %}
    <div>
    <p>You send out a pulse that registers the presence of magic. You
    receive no information beyond the presence or absence of magic.
    You can choose to ignore magic you’re fully aware of, such as the
    magic items and ongoing spells of you and your allies.</p>
    <p>You detect illusion magic only if that magic’s effect has a
    lower rank than the rank of your detect magic spell. However,
    items that have an illusion aura but aren’t deceptive in
    appearance (such as an invisibility potion) typically are
    detected normally.</p>
    </div>
{% endblock %}
{% block heightened %}
    <div class="heightened">
		<span class="caption">Heightened (3rd)</span>
		<span>You learn the rank or level of the most powerful magical effect the spell detects, as determined by the GM.</span>
    </div>
    <div class="heightened">
		<span class="caption">Heightened (4th)</span>
		<span>As 3rd rank, but you also pinpoint the source of the highest-rank magic. Like for an imprecise sense, you don’t learn the exact location, but can narrow down the source to within a 5-foot cube (or the nearest if larger than that)</span>
    </div>
{% endblock %}


