{% extends "base.html" %}
{% block name %} Divine Lance {% endblock %}
{% block actions %} {{two_actions}} {% endblock %}
{% block level %} Cantrip 1 {% endblock %}
{% block traits %} {{ traits(traits="Attack, Cantrip, Concentrate, Manipulate, Sanctified, Spirit") }} {% endblock %}
{% block properties %}
  {{ property(name="Range", value="60 feet") }}
  {{ property(name="Target", value="1 creature") }}
  {{ property(name="Defence", value="AC") }}
{% endblock %}
{% block description %}
    <div>
    You unleash a beam of divine energy. Make a ranged spell
    attack against the target’s AC. On a hit, the target takes 2d4
    spirit damage (double damage on a critical hit).
    </div>
{% endblock %}
{% block heightened %}
    <div class="heightened">
		<span class="caption">Heightened (+1)</span>
		<span>The damage increases by 1d4.</span>
    </div>
{% endblock %}


