{% extends "base.html" %}
{% block name %} Light {% endblock %}
{% block actions %} {{two_actions}} {% endblock %}
{% block level %} Cantrip 1 {% endblock %}
{% block traits %} {{ traits(traits="Cantrip, Concentrate, Light, Manipulate") }} {% endblock %}
{% block properties %}
  {{ property(name="Range", value="120 feet") }}
  {{ property(name="Duration", value="until your next daily preparations") }}
{% endblock %}
{% block description %}
    <div>
    <p>You create an orb of light that sheds bright light in a 20-
    foot radius (and dim light for the next 20 feet) in a color you
    choose. If you create the light in the same space as a willing
    creature, you can attach the light to the creature, causing it to
    float near that creature as it moves. You can Sustain the spell
    to move the light up to 60 feet; you can attach or detach it
    from a creature as part of this movement.</p>
    <p>You can Dismiss the spell. If you Cast the Spell while you
    already have four light spells active, you must choose one of
    the existing spells to end.</p>
    </div>
{% endblock %}
{% block heightened %}
    <div class="heightened">
		<span class="caption">Heightened (4th)</span>
		<span>The orb sheds light in a 60-foot radius (and dim light for the next 60 feet).</span>
    </div>
{% endblock %}


