{% extends "base.html" %}
{% block name %} Needle Darts {% endblock %}
{% block actions %} {{two_actions}} {% endblock %}
{% block level %} Cantrip 1 {% endblock %}
{% block traits %} {{ traits(traits="Attack, Cantrip, Concentrate, Manipulate, Metal") }} {% endblock %}
{% block properties %}
  {{ property(name="Range", value="60 feet") }}
  {{ property(name="Target", value="1 creature") }}
  {{ property(name="Defence", value="AC") }}
{% endblock %}
{% block description %}
    <div>
    You shape three needles out of a piece of metal in your possession and send them flying in a tight group toward one target. Make a spell attack roll against your target's AC. The needles deal 3d4 piercing damage and might cause bleeding. The needles impart any special properties of the metal that forms them; for instance, cold iron needles deal additional damage to creatures with weakness to cold iron. All the needles are made of the same metal, and the metal returns to you after the attack.
    {{ success_table(
      crit_success="The target takes double damage and 1 persistent bleed damage.",
      success="The target takes full damage.",
      )
    }}
    </div>
{% endblock %}
{% block heightened %}
    <div class="heightened">
		<span class="caption">Heightened (+1)</span>
		<span>You send one additional needle, increasing the regular damage by 1d4 and increasing the persistent bleed damage on a critical hit by 1.</span>
    </div>
{% endblock %}


