{% extends "base.html" %}
{% block name %} Read Aura {% endblock %}
{% block actions %}
    <!-- For some reason having different title height breaks global alignment. WTF CSS!? -->
    <span style="color: white"  >{{action}}</span>
{% endblock %}
{% block level %} Cantrip 1 {% endblock %}
{% block traits %} {{ traits(traits="Cantrip, Concentrate, Detection, Manipulate") }} {% endblock %}
{% block properties %}
  {{ property(name="Cast", value="1 minute") }}
  {{ property(name="Range", value="30 feet") }}
  {{ property(name="Target", value="1 object") }}
{% endblock %}
{% block description %}
    <div>
    You focus on the target object, opening your mind to perceive
    magical auras. When the casting is complete, you know
    whether that item is magical. You or anyone you advise about
    the aura gains a +2 circumstance bonus to Identify Magic on
    the item. If the object is illusory, you detect this only if the
    effect’s rank is lower than the rank of your read aura spell.
    </div>
{% endblock %}
{% block heightened %}
    {{ heightened(name="3rd", value="You can target up to 10 objects.") }}
    {{ heightened(name="6rd", value="You can target up to any number of objects.") }}
{% endblock %}


