{% extends "base.html" %}
{% block name %} Void Warp {% endblock %}
{% block actions %} {{two_actions}} {% endblock %}
{% block level %} Cantrip 1 {% endblock %}
{% block traits %} {{ traits(traits="Cantrip, Concentrate, Manipulate, Void") }} {% endblock %}
{% block properties %}
  {{ property(name="Range", value="30 feet") }}
  {{ property(name="Target", value="1 living creature") }}
  {{ property(name="Defence", value="Fortitude") }}
{% endblock %}
{% block description %}
    <div>
    You call upon the Void to harm life force. The target takes 2d4
    void damage with a basic Fortitude save. On a critical failure, the
    target is also enfeebled 1 until the start of your next turn.
    </div>
{% endblock %}
{% block heightened %}
    {{ heightened(name="+1", value="The damage increases by 1d4") }}
{% endblock %}


