{% extends "base.html" %}
{% block name %} Contingency {% endblock %}
{% block actions %} {{no_actions}} {% endblock %}
{% block level %} 7 {% endblock %}
{% block traits %} {{ traits(traits="Concentrate, Manipulate") }} {% endblock %}
{% block properties %}
  {{ property(name="Cast", value="10 minutes") }}
  {{ property(name="Duration", value="until your next daily preparations.") }}
{% endblock %}
{% block description %}
    <div>
    You prepare a spell that will trigger later. While casting
contingency, you also cast another spell of 4th rank or lower with
a casting time of no more than 3 actions. This companion spell
    must be one that can affect you. You must make any decisions for
the spell when you cast contingency, such as choosing a damage
type for resist energy. During the casting, choose a trigger under
which the spell will be cast, using the same restrictions as for
the trigger of a Ready action. Once contingency is cast, you can
cause the companion spell to come into effect as a reaction with
that trigger. It affects only you, even if it would affect more
creatures. If you define complicated conditions, as determined
by the GM, the trigger might fail. If you cast contingency again,
the newer casting supersedes the older.
    </div>
{% endblock %}
{% block heightened %}
  {{heightened(name="+1", value="You can choose a spell of 1 rank higher.")}}
{% endblock %}


