{% extends "base.html" %}
{% block name %} Bind Undead {% endblock %}
{% block actions %} {{two_actions}} {% endblock %}
{% block level %} 3 {% endblock %}
{% block traits %} {{ traits(traits="Concentrate, Manipulate") }} {% endblock %}
{% block properties %}
  {{ property(name="Range", value="30 feet") }}
  {{ property(name="Target", value="1 mindless undead creature with a level
no greater than bind undead’s spell rank") }}
  {{ property(name="Duration", value="1 day") }}
{% endblock %}
{% block description %}
    <div>
    With a word of power, you seize control of the target. It gains
    the minion trait. If you or an ally uses any hostile actions
    against the target, the spell ends.
    </div>
{% endblock %}


