{% extends "base.html" %}
{% block name %} Crisis of Faith {% endblock %}
{% block actions %} {{two_actions}} {% endblock %}
{% block level %} 3  {% endblock %}
{% block traits %} {{ traits(traits="Concentrate, Manipulate, Mental") }} {% endblock %}
{% block properties %}
  {{ property(name="Range", value="30 feet") }}
  {{ property(name="Target", value="1 creature") }}
  {{ property(name="Defence", value="Will") }}
{% endblock %}
{% block description %}
    <div>
    You assault the target’s faith, riddling the creature with
doubt and mental turmoil that deal 6d6 mental damage, or
6d8 mental damage if it can cast divine spells. The effects are
determined by its Will save
    {{ success_table(
      crit_success="The target is unaffected.",
      success="The target takes half damage.",
      failure="The target takes full damage; if the target can cast
divine spells, it’s stupefied 1 for 1 round.",
      crit_failure="The target takes double damage, is stupefied 1
for 1 round, and can’t cast divine spells for 1 round."
      )
    }}
    To many deities, casting this spell on a follower of your own
deity without significant cause is anathema.
    </div>
{% endblock %}
{% block heightened %}
  {{heightened(name="+1", value="The damage increases by 2d6 (or by 2d8 if the
target is a divine spellcaster).")}}
{% endblock %}


