{% extends "base.html" %}
{% block name %} Cataclysm {% endblock %}
{% block actions %} {{two_actions}} {% endblock %}
{% block level %} 10 {% endblock %}
{% block traits %} {{ traits(traits="Acid, Air, Cold, Concentrate, Earth, Electicity, Fire, Manipulate, Water") }} {% endblock %}
{% block properties %}
  {{ property(name="Range", value="1000 feet") }}
  {{ property(name="Area", value="60-foot burst") }}
  {{ property(name="Defence", value="basic Reflex") }}
{% endblock %}
{% block description %}
    <div style="font-size: 0.9em">
    You call upon the unimaginable power of world-ending
    cataclysms, ripping a small piece of each cataclysm and
    combining them together into one horrifically powerful attack.
    The following effects come down upon all creatures in the
    area. Treat the resistances of creatures in the area as if they
    were 10 lower for the purpose of determining the cataclysm’s
    damage. Each creature attempts one basic Reflex save that
    applies to all five types of damage.
      <p>Flesh-dissolving acid rain deals 3d10 acid damage.</p>
      <p>A roaring earthquake shakes and bludgeons creatures on
the ground, dealing 3d10 bludgeoning damage.</p>
      <p>A blast of freezing wind deals 3d10 cold damage.</p>
      <p>Incredible lightning lashes the area, dealing 3d10 electricity damage.</p>
      <p>Beating winds churn across the sky, dealing 3d10 bludgeoning damage to creatures flying in the area.</p>
      <p>An instant tsunami sweeps over creatures in the area, dealing 3d10 bludgeoning damage (doubled for creatures swimming in the area)</p>
      <p>A massive wildfire burns in a sudden inferno, dealing 3d10 fire damage</p>
    </div>
{% endblock %}

