{% extends "base.html" %}
{% block name %} Breath of life {% endblock %}
{% block actions %} {{reaction}} {% endblock %}
{% block level %} 6 {% endblock %}
{% block traits %} {{ traits(traits="Concentrate, Healing, Vitality") }} {% endblock %}
{% block properties %}
  {{ property(name="Trigger", value="A living creature within range would die.") }}
  {{ property(name="Range", value="60 feet") }}
  {{ property(name="Target", value="the triggering creature") }}
{% endblock %}
{% block description %}
    <div>
    Your blessing revives a creature at the moment of its death.
    You prevent the target from dying and restore 5d8 Hit Points
    to the target. You can’t use breath of life if the triggering effect
    was a death effect or an effect that leaves no remains, such as
    disintegrate.
    </div>
{% endblock %}
{% block heightened %}
  {{heightened(name="+2", value="The healing increases by 1d8")}}
{% endblock %}


