{% extends "base.html" %}
{% block name %} Needle of Vengeance {% endblock %}
{% block actions %} {{action}} {% endblock %}
{% block level %} Focus 1 {% endblock %}
{% block traits %} {{ traits(traits="Uncommon, Focus, Hex, Manipulate, Mental, Witch") }} {% endblock %}
{% block properties %}
  {{ property(name="Range", value="30 feet") }}
  {{ property(name="Target", value="1 enemy") }}
  {{ property(name="Defence", value="Basic Will") }}
  {{ property(name="Duration", value="sustained uo to 1 minute") }}
{% endblock %}
{% block description %}
    <div>
    A long, jagged needle jabs into the target foe’s psyche whenever
    it tries to attack a creature your patron holds in special regard.
    Name yourself or one of your allies. The target takes 2 mental
    damage any time it uses a hostile action against the named
    creature, with a basic Will save
    </div>
{% endblock %}
{% block heightened %}
  {{heightened(name="+1", value="Increase the damage by 2.")}}
{% endblock %}

