{% extends "base.html" %}
{% block name %} Phase Familiar {% endblock %}
{% block actions %} {{reaction}} {% endblock %}
{% block level %} Focus 1 {% endblock %}
{% block traits %} {{ traits(traits="Uncommon, Focus, Hex, Manipulate, Witch") }} {% endblock %}
{% block properties %}
  {{ property(name="Range", value="60 feet") }}
  {{ property(name="Target", value="your familiar") }}
  {{ property(name="Trigger", value="Your familiar would take damage.") }}
{% endblock %}
{% block description %}
    <div>
    Your patron momentarily recalls your familiar to the ether,
    shifting it from its solid, physical form into a ghostly version
    of itself. Against the triggering damage, your familiar gains
    resistance 5 to all damage and is immune to precision damage.
    </div>
{% endblock %}
{% block heightened %}
  {{heightened(name="+1", value="Increase the resistance by 2.")}}
{% endblock %}

