{% extends "base.html" %}
{% block name %} Blindness {% endblock %}
{% block actions %} {{two_actions}} {% endblock %}
{% block level %} 2 {% endblock %}
{% block traits %} {{ traits(traits="Concentrate, Incapacitation, Manipulate") }} {% endblock %}
{% block properties %}
  {{ property(name="Range", value="30 feet") }}
  {{ property(name="Target", value="1 creature") }}
  {{ property(name="Defence", value="Fortitude") }}
{% endblock %}
{% block description %}
    <div>
    You blind the target. The effect is determined by the target’s
    Fortitude save. The target then becomes temporarily immune
    for 1 minute.
    {{ success_table(
      crit_success="The target is unaffected.",
      success="The target is blinded until its next turn begins.",
      failure="The target is blinded for 1 minute",
      crit_failure="The target is blinded permanently."
      )
    }}
    </div>
{% endblock %}
