{% extends "base.html" %}
{% block name %} Clear Mind {% endblock %}
{% block actions %} {{two_actions}} {% endblock %}
{% block level %} 2 {% endblock %}
{% block traits %} {{ traits(traits="Concentrate, Healing, Manipulate, Mental") }} {% endblock %}
{% block properties %}
  {{ property(name="Range", value="touch") }}
  {{ property(name="Target", value="1 willing creature") }}
{% endblock %}
{% block description %}
    <div>
    You drive mental contamination from the target’s mind.
Attempt to counteract (page 431) an effect of your choice
imposing one of these conditions on the target: fleeing,
frightened, and stupefied. If you failed to counteract the effect
but you would have if its counteract rank were 2 lower, instead
suppress the effect until the beginning of your next turn. The
effect’s duration doesn’t elapse while it’s suppressed. This spell
can’t counteract or suppress conditions that are part of curses,
diseases, or a natural state of the target.
    </div>
{% endblock %}

{% block heightened %}
  {{ heightened(name="4th", value="Add confused and controlled to the list of
conditions.")}}
  {{ heightened(name="6th", value="Add doomed to the list of conditions.")}}
  {{ heightened(name="8th", value="Add stunned to the list of conditions.")}}
{% endblock %}

