{% extends "base.html" %}
{% block name %} Create Food {% endblock %}
{% block actions %} {{no_actions}} {% endblock %}
{% block level %} 2 {% endblock %}
{% block traits %} {{ traits(traits="Concentrate, Manipulate") }} {% endblock %}
{% block properties %}
  {{ property(name="Cast", value="1 minute") }}
  {{ property(name="Range", value="30 feet") }}
{% endblock %}
{% block description %}
    <div>
    You create enough food to feed six Medium creatures for a day.
This food is bland and unappealing, but it is nourishing. After
1 day, if no one has eaten the food, it decays and becomes
inedible. Most Small creatures eat one-quarter as much as
a Medium creature (one-sixteenth as much for most Tiny creatures), and most Large creatures eat 10 times as much
(100 times as much for Huge creatures and so on).
    </div>
{% endblock %}
{% block heightened %}
  {{heightened(name="4th", value="You can feed 12 Medium creatures.")}}
  {{heightened(name="6th", value="You can feed 50 Medium creatures.")}}
  {{heightened(name="8th", value="You can feed 200 Medium creatures.")}}
{% endblock %}


