{% extends "base.html" %}
{% block name %} Air Bubble{% endblock %}
{% block actions %} {{reaction}} {% endblock %}
{% block level %} 1 {% endblock %}
{% block traits %} {{ traits(traits="Air, Concentrate") }} {% endblock %}
{% block properties %}
  {{ property(name="Trigger", value="A creature within range enters an environment where it can’t breathe.") }}
  {{ property(name="Range", value="60 feet") }}
  {{ property(name="Target", value="the triggering creature") }}
  {{ property(name="Duration", value="1 minute") }}
{% endblock %}
{% block description %}
    <div>
    A bubble of pure air appears around the target’s head, allowing
    it to breathe normally. The effect ends as soon as the target
    returns to an environment where it can breathe normally.
    </div>
{% endblock %}

