{% extends "base.html" %}
{% block name %} Alarm {% endblock %}
{% block actions %} {{no_actions}} {% endblock %}
{% block level %} 1 {% endblock %}
{% block traits %} {{ traits(traits="Concentrate, Manipulate") }} {% endblock %}
{% block properties %}
  {{ property(name="Cast", value="10 minute") }}
  {{ property(name="Range", value="touch") }}
  {{ property(name="Area", value="20-foot burst") }}
  {{ property(name="Duration", value="8 hours") }}
{% endblock %}
{% block description %}
    <div>
    You ward an area to alert you when creatures enter without
    your permission. When you cast alarm, select a password.
    Whenever a Small or larger corporeal creature enters the
    spell’s area without speaking the password, alarm sends your
    choice of a mental alert (in which case the spell gains the
    mental trait) or an audible alarm with the sound and volume
    of a hand bell (in which case the spell gains the auditory trait).
    Either option automatically awakens you, and the bell allows
    each creature in the area to attempt a DC 15 Perception check
    to wake up. A creature aware of the alarm must succeed at a
    Stealth check against the spell’s DC or trigger the spell when
    moving into the area.
    </div>
{% endblock %}
{% block heightened %}
  {{heightened(name="3rd", value="ou can specify a trigger for which types of creatures sound the alarm spell, as described in Setting Triggers on page 303.")}}
{% endblock %}


