{% extends "base.html" %}
{% block name %} Ant Haul {% endblock %}
{% block actions %} {{two_actions}} {% endblock %}
{% block level %} 1 {% endblock %}
{% block traits %} {{ traits(traits="Concentrate, Manipulate") }} {% endblock %}
{% block properties %}
  {{ property(name="Range", value="touch") }}
  {{ property(name="Target", value="1 creature") }}
  {{ property(name="Duration", value="8 hours") }}
{% endblock %}
{% block description %}
    <div>
    You reinforce the target’s musculoskeletal system to bear more
    weight. The target can carry 3 more Bulk than normal before
    becoming encumbered and up to a maximum of 6 more Bulk.
    </div>
{% endblock %}

