{% extends "base.html" %}
{% block name %} Bane {% endblock %}
{% block actions %} {{two_actions}} {% endblock %}
{% block level %} 1 {% endblock %}
{% block traits %} {{ traits(traits="Concentrate, Manipulate, Mental") }} {% endblock %}
{% block properties %}
  {{ property(name="Area", value="10-foot emanation") }}
  {{ property(name="Defence", value="Will") }}
  {{ property(name="Duration", value="1 minute") }}
{% endblock %}
{% block description %}
    <div>
    You fill the minds of your enemies with doubt. Enemies in the
    area must succeed at a Will save or take a –1 status penalty
    to attack rolls as long as they are in the area. Once per round
    on subsequent turns, you can Sustain the spell to increase the
    emanation’s radius by 10 feet and force enemies in the area
    that weren’t yet affected to attempt another saving throw.
    Bane can counteract bless
    </div>
{% endblock %}

