{% extends "base.html" %}
{% block name %} Bless {% endblock %}
{% block actions %} {{two_actions}} {% endblock %}
{% block level %} 1 {% endblock %}
{% block traits %} {{ traits(traits="Concentrate, Manipulate, Mental") }} {% endblock %}
{% block properties %}
  {{ property(name="Area", value="15-foot emanation") }}
  {{ property(name="Duration", value="1 minute") }}
{% endblock %}
{% block description %}
    <div>
    Blessings from beyond help your companions strike true. You
    and your allies gain a +1 status bonus to attack rolls while
    within the emanation. Once per round on subsequent turns,
    you can Sustain the spell to increase the emanation’s radius by
    10 feet. Bless can counteract bane.
    </div>
{% endblock %}

