{% extends "base.html" %}
{% block name %} Dizzing Colors{% endblock %}
{% block actions %} {{two_actions}} {% endblock %}
{% block level %} 1 {% endblock %}
{% block traits %} {{ traits(traits="Concentrate, Illusion, Incapacitation, Manipulate, Visual") }} {% endblock %}
{% block properties %}
  {{ property(name="Area", value="15-foot cone") }}
  {{ property(name="Defence", value="Will") }}
{% endblock %}
{% block description %}
    <div>
    You unleash a swirling multitude of colors that overwhelms
    creatures based on their Will saves.
    {{ success_table(
      crit_success="The target is unaffected.",
      success="The creature is dazzled for 1 round.",
      failure="The creature is stunned 1, blinded for 1 round, and dazzled with 1 minute.",
      crit_failure="The creature is stunned for 1 round and blinded for 1 minute."
      )
    }}
    </div>
{% endblock %}

