{% extends "base.html" %}
{% block name %} Enfeeble {% endblock %}
{% block actions %} {{two_actions}} {% endblock %}
{% block level %} 1 {% endblock %}
{% block traits %} {{ traits(traits="Concentrate, Manipulate") }} {% endblock %}
{% block properties %}
  {{ property(name="Range", value="30 feet") }}
  {{ property(name="Target", value="1 creature") }}
  {{ property(name="Defence", value="Fortutude") }}
{% endblock %}
{% block description %}
    <div>
    You sap the target’s strength, depending on its Fortitude save.
    {{ success_table(
      crit_success="The target is unaffected.",
      success="The target is enfeebled 1 until the start of your next turn.",
      failure="The target is enfeebled 2 for 1 minute.",
      crit_failure="The target is enfeebled 3 for 1 minute."
      )
    }}
    </div>
{% endblock %}

