{% extends "base.html" %}
{% block name %} Force Barrage{% endblock %}
{% block actions %} {{action}} to {{three_actions}} {% endblock %}
{% block level %} 1 {% endblock %}
{% block traits %} {{ traits(traits="Concentrate, Force, Manipulate") }} {% endblock %}
{% block properties %}
  {{ property(name="Range", value="120 feet") }}
  {{ property(name="Target", value="1 creature") }}
{% endblock %}
{% block description %}
    <div>
    You fire a shard of solidified magic toward a creature that you
    can see. It automatically hits and deals 1d4+1 force damage.
    For each additional action you use when Casting the Spell,
    increase the number of shards you shoot by one, to a maximum
    of three shards for 3 actions. You choose the target for each
    shard individually. If you shoot more than one shard at the
    same target, combine the damage before applying bonuses or
    penalties to damage, resistances, weaknesses, and so forth.
    </div>
{% endblock %}
{% block heightened %}
    <div class="heightened">
		<span class="caption">Heightened (+2)</span>
		<span>ou fire one additional shard with each action you spend.</span>
    </div>
{% endblock %}


