{% extends "base.html" %}
{% block name %} Heal {% endblock %}
{% block actions %} {{action}} to {{three_actions}} {% endblock %}
{% block level %} 1 {% endblock %}
{% block traits %} {{ traits(traits="Healing, Manipulate, Vitality") }} {% endblock %}
{% block description %}
    <div>
		You channel vital energy to heal the living or damage the
		undead. If the target is a willing living creature, you restore
		1d8 Hit Points. If the target is undead, you deal that amount
		of vitality damage to it, and it gets a basic Fortitude save.
		The number of actions you spend when Casting this Spell
		determines its targets, range, area, and other parameters.
    </div>

    <div>
    <p>
        <span class="caption">{{action}}</span>
			  <span>The spell has a range of touch.</span>
    </p>
		<p>
			<span class="caption">{{two_actions}} (concentrate)</span>
			<span>The spell has a range of 30 feet. If you’re healing a living creature, increase the Hit Points restored by 8</span>
		</p>
		<p>
			<span class="caption">{{three_actions}} (concentrate)</span>
			<span>You disperse vital energy in a 30-foot emanation. This targets all living and undead creatures in the burst.</span>
		</p>
    </div>
{% endblock %}
{% block heightened %}
    <div class="heightened">
		<span class="caption">Heightened (+1)</span>
		<span>The amount of healing or damage increases by 1d8, and the extra healing for the 2-action version increases by 8.</span>
    </div>
{% endblock %}
