{% extends "base.html" %}
{% block name %} Phantom Pain {% endblock %}
{% block actions %} {{two_actions}} {% endblock %}
{% block level %} 1 {% endblock %}
{% block traits %} {{ traits(traits="Concentrate, Illution, Manipulate, Mental, Nonlethal") }} {% endblock %}
{% block properties %}
  {{ property(name="Range", value="30 feet") }}
  {{ property(name="Target", value="1 creature") }}
  {{ property(name="Defence", value="Will") }}
  {{ property(name="Duration", value="1 minute") }}
{% endblock %}
{% block description %}
    <div>
    Illusory pain wracks the target, dealing 2d4 mental damage
    and 1d4 persistent mental damage with a Will save.
    {{ success_table(
      crit_success="The target is unaffected.",
      success="The target takes full initial damage but no persistent damage, and the spell ends immediately.",
      failure="The target takes full initial and persistent damage, and the target is sickened 1. If the target recovers from being sickened, the persistent damage ends and the spell ends.",
      crit_failure="As failure, but the target is sickened 2."
      )
    }}
    </div>
{% endblock %}
{% block heightened %}
  {{heightened(name="+1", value="The damage increases by 2d4 and the persistent damage by 1d4.")}}
{% endblock %}


