{% extends "base.html" %}
{% block name %} Arctic Rift {% endblock %}
{% block actions %} {{two_actions}} {% endblock %}
{% block level %} 8 {% endblock %}
{% block traits %} {{ traits(traits="Cold, Concentrate, Manipulate") }} {% endblock %}
{% block properties %}
  {{ property(name="Area", value="120-foot line") }}
  {{ property(name="Defence", value="Fortitude") }}
{% endblock %}
{% block description %}
    <div>
    A jagged crack opens in the air, dealing 12d8 cold damage
    as it draws away warmth. Each creature along the rift must
    attempt a Fortitude save.
    {{ success_table(
      crit_success="The target is unaffected.",
      success="The target takes half damage",
      failure="The target takes full damage and is slowed 1 until the start of your next turn.",
      crit_failure="he creature takes double damage, is
        immobilized by a layer of ice, and is slowed 1 as long as
        its immobilized. The ice is an object with 60 Hit Points,
        Hardness 5, immunity to cold damage, and vulnerability 10
        to fire. It has object immunities (page 269) and is destroyed
        if the target Escapes."
      )
    }}
    </div>
{% endblock %}
{% block heightened %}
  {{heightened(name="+1", value="The damage increases by 1d8 and the ice’s Hit Points increase by 5.")}}
{% endblock %}


