{% extends "base.html" %}
{% block name %} Canticle of everlasting grief {% endblock %}
{% block actions %} {{two_actions}} {% endblock %}
{% block level %} 8 {% endblock %}
{% block traits %} {{ traits(traits="Auditory, Concentrate, Curse, Emotion, Fear, Manipulate, Mental") }} {% endblock %}
{% block properties %}
  {{ property(name="Range", value="120 feet") }}
  {{ property(name="Target", value="1 creature") }}
  {{ property(name="Defence", value="Will") }}
{% endblock %}
{% block description %}
    <div>
    You create a melody distilled from pure grief, conveying the
    inevitable loss of everything your target cherishes, audible to
    only them. The target takes 10d6 mental damage depending
    on its Will save. A creature cursed by this spell can’t benefit
    from circumstance or status bonuses, for the duration noted in
    the degree of success.
    {{ success_table(
      crit_success="The target is unaffected.",
      success="The target takes half damage, is frightened 1, and is
cursed for 1 round.",
      failure="The target takes full damage, is frightened 3, and is
cursed for 1 week.",
      crit_failure="The target takes double damage, is frightened
4, and is cursed for an unlimited duration. While the curse
remains, the target’s allies are also affected by the curse
while within 15 feet of the creature."
      )
    }}
    </div>
{% endblock %}

