{% extends "base.html" %}
{% block name %} Chain Lightnign {% endblock %}
{% block actions %} {{two_actions}} {% endblock %}
{% block level %} 6 {% endblock %}
{% block traits %} {{ traits(traits="Concentrate, Electricity, Manipulate") }} {% endblock %}
{% block properties %}
  {{ property(name="Range", value="500 feet") }}
  {{ property(name="Target", value="1 creature, plus any number of additional creatures") }}
  {{ property(name="Defence", value="basic Reflex") }}
{% endblock %}
{% block description %}
    <div>
    You discharge a powerful bolt of lightning at the target, dealing
    8d12 electricity damage. The target must attempt a basic
    Reflex save. The electricity then arcs to another creature within 30 feet of the first target, jumps to another creature within
    30 feet of that target, and so on. You can end the chain at any
    point. You can’t target the same creature more than once, and
    you must have line of effect to all targets. Roll the damage
    only once and apply it to each target (halving or doubling as
    appropriate for its saving throw outcome). The chain ends if
    any one of the targets critically succeeds at its save.
    </div>
{% endblock %}
{% block heightened %}
  {{heightened(name="+1", value="The damage increases by 1d12.")}}
{% endblock %}

