{% extends "base.html" %}
{% block name %} Cursed metamorphosis {% endblock %}
{% block actions %} {{two_actions}} {% endblock %}
{% block level %} 1 {% endblock %}
{% block traits %} {{ traits(traits="Concentrate, Curse, Incapacitation, Manipulate, Polymorph") }} {% endblock %}
{% block properties %}
  {{ property(name="Range", value="30 feet") }}
  {{ property(name="Target", value="1 creature") }}
  {{ property(name="Defence", value="Fortitude") }}
{% endblock %}
{% block description %}
    <div>
    You transform the target creature into a harmless animal
appropriate to the area, with effects based on its Fortitude save.
    {{ success_table(
      crit_success="The target is unaffected.",
      success="The target’s body gains minor features of the harmless
animal. Its insides churn as they partially transform, causing
it to be sickened 1. When it recovers from the sickened
condition, its features revert to normal.",
      failure="The target transforms for 1 minute but keeps its mind. If
it spends all its actions on its turn concentrating on its original
form, it can attempt a Will save to end the effect immediately.",
      crit_failure="The target is transformed into the chosen
harmless animal, body and mind, for an unlimited duration."
      )
    }}
    </div>
{% endblock %}
{% block heightened %}
  {{heightened(name="3rd", value="You can target up to five creatures.")}}
{% endblock %}


