<div class="card">
  {% block header %}
	<div class="header-group">
	<div class="header" {% block header_properties %}{% endblock %}>
		<span class="name">{% block name %}name{% endblock %}</span>
		<span>
			{% block actions %}actions{% endblock %}
		</span>
		<span class="level">{% block level %}level{% endblock %}</span>
	</div>
	<div class="traits">
	  {% block traits %} {% endblock %}
	</div>
	{% block properties %}{% endblock %}
	<hr>
	</div>
	<div class="description">
  {% endblock %}
  {% block description %}
  {% endblock %}
  {% block heightened %}
  {% endblock %}
	</div>
</div>
